/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,600;0,700;0,800;1,400&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background-color: #FFF6EF;
  font-family: 'Nunito', sans-serif;
  box-sizing: border-box; }

h1 {
  font-size: 30pt;
  color: #4A4D52;
  line-height: 40px;
  font-weight: 700; }

h2 {
  font-size: 20pt;
  color: #4A4D52;
  line-height: 27px;
  font-weight: 600; }

h3 {
  font-size: 14pt;
  color: #4A4D52;
  line-height: 27px;
  font-weight: 600; }

p {
  font-size: 12pt;
  color: #4A4D52;
  line-height: 18;
  font-weight: 100; }

a.check.btn {
  background-color: #FDB16F;
  border-radius: 30px;
  width: 138px;
  height: 36px;
  color: white;
  font-size: 15px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none; }

.seemore {
  color: #FDB16F;
  font-size: 18px;
  font-weight: 400;
  text-decoration: underline; }

a.download.btn {
  background-color: #FDB16F;
  border-radius: 30px;
  width: 183px;
  height: 47px;
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none; }

a.supprimer.btn {
  color: #FDB16F;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none; }

.container {
  width: 100%;
  padding: 60px 110px; }

header {
  height: 100vh;
  background-color: #fff;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }

.logo {
  display: flex;
  justify-content: center;
  margin-bottom: 20%; }

nav ul li {
  font-size: 18px;
  font-weight: 700;
  color: #4A4D52;
  margin-bottom: 80px;
  display: flex;
  align-items: center; }

.fa, .fab, .fad, .fal, .far, .fas {
  font-size: 23px; }

.picto {
  width: 40px; }

li a {
  text-decoration: none;
  color: #4A4D52;
  display: flex;
  align-items: center;
  opacity: 50%; }

a:hover {
  color: #FDB16F;
  opacity: 100%; }

.editor {
  width: 100%;
  display: flex; }
  .editor .userDoc {
    padding: 20px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    .editor .userDoc .titleDoc {
      width: 100%;
      max-width: 500px;
      margin-bottom: 20px; }
  .editor .toolsPage {
    background-color: #fff;
    right: 0;
    min-height: 100vh;
    min-width: 50%; }

.page {
  background-color: #fff;
  width: 100%;
  height: 700px;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px #fdb16f30;
  box-sizing: border-box; }
  .page .content {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 40px 35px; }
    .page .content form {
      height: 100%; }
    .page .content textarea {
      width: 100%;
      height: 100%;
      border: none; }

.container {
  width: 100%;
  padding: 60px 60px;
  box-sizing: border-box; }

.editPart {
  display: flex;
  align-items: center;
  justify-content: flex-end; }

.undo-redo i {
  color: #4A4D52; }

.undo-redo {
  margin-right: 70px; }
  .undo-redo :first-child {
    margin-right: 10px; }

.supprimer {
  color: #FDB16F;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none; }
  .supprimer .fas {
    color: #FDB16F;
    margin-right: 10px; }

.suggestions {
  height: 350px;
  margin-top: 80px; }

.first {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }

.probleme {
  width: 216px;
  height: 40px;
  background-color: rgba(74, 77, 82, 0.05);
  border-radius: 7px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center; }

.cercle {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #4A4D52;
  opacity: 0.05;
  z-index: 10;
  margin-left: 10px; }

.container2 {
  width: 100%;
  padding: 40px 40px;
  box-sizing: border-box; }

.blocSuggestions {
  height: 285px;
  background-color: white;
  box-shadow: 0px 0px 20px #f2f2f2;
  border-radius: 15px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .blocSuggestions .faute {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }
    .blocSuggestions .faute :last-child .rectangle {
      width: 150px; }
    .blocSuggestions .faute div {
      display: flex;
      align-items: center; }
    .blocSuggestions .faute .cercle {
      margin-left: 0; }
  .blocSuggestions .choix {
    width: 80px;
    height: 35px;
    background-color: #4A4D52;
    opacity: 0.05;
    border-radius: 5px;
    margin-top: 10px; }
  .blocSuggestions .add {
    border-top: rgba(74, 77, 82, 0.05) solid 2px;
    margin-top: 20px; }
    .blocSuggestions .add .center {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-top: 20px; }
      .blocSuggestions .add .center div {
        display: flex;
        align-items: center; }
      .blocSuggestions .add .center .cercle {
        margin-left: 0; }

.centre {
  width: 100%;
  height: 95px;
  background-color: #4A4D52;
  opacity: 0.05;
  border: 2px solid #4A4D52;
  border-radius: 10px;
  margin-top: 10px; }

.rectangle {
  width: 100px;
  height: 12px;
  background-color: #4A4D52;
  opacity: 0.05;
  margin-left: 20px; }

.defmotions {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }
  .defmotions .dictionnaire {
    display: flex;
    flex-direction: column; }
    .defmotions .dictionnaire .blocdico {
      width: 350px;
      background-color: white;
      box-shadow: 0px 0px 20px #f2f2f2;
      border-radius: 15px;
      margin-top: 30px;
      display: flex;
      justify-content: center;
      align-items: center; }
      .defmotions .dictionnaire .blocdico .container2 .center {
        display: flex;
        flex-direction: row;
        align-items: center; }
        .defmotions .dictionnaire .blocdico .container2 .center div {
          display: flex;
          align-items: center; }
        .defmotions .dictionnaire .blocdico .container2 .center .cercle {
          margin-left: 0; }
      .defmotions .dictionnaire .blocdico .rectangle2 {
        margin-top: 10px;
        margin-left: 0;
        width: 100px;
        height: 12px;
        background-color: #4A4D52;
        opacity: 0.05; }
  .defmotions .emotion {
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
    .defmotions .emotion .blocemotion {
      width: 185px;
      height: 235px;
      background-color: white;
      box-shadow: 0px 0px 20px #f2f2f2;
      border-radius: 15px;
      margin-top: 30px;
      display: flex;
      justify-content: center;
      align-items: center; }
    .defmotions .emotion .container2 {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center; }
      .defmotions .emotion .container2 :first-child {
        margin-left: 0;
        width: 100px;
        height: 80px;
        background-color: #4A4D52;
        opacity: 0.05; }
      .defmotions .emotion .container2 :nth-child(2) {
        margin-left: 0;
        width: 40px;
        height: 15px;
        background-color: #4A4D52;
        opacity: 0.05;
        margin-top: 10px; }
      .defmotions .emotion .container2 :nth-child(3) {
        margin-left: 0;
        width: 40px;
        height: 15px;
        background-color: #4A4D52;
        opacity: 0.05;
        margin-top: 10px; }

.baspage {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-top: 70px; }
  .baspage p {
    margin-right: 20px;
    line-height: 0; }

body {
  display: flex; }
