/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,600;0,700;0,800;1,400&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background-color: #FFF6EF;
  font-family: 'Nunito', sans-serif;
  box-sizing: border-box; }

h1 {
  font-size: 30pt;
  color: #4A4D52;
  line-height: 40px;
  font-weight: 700; }

h2 {
  font-size: 20pt;
  color: #4A4D52;
  line-height: 27px;
  font-weight: 600; }

p {
  font-size: 13pt;
  color: #4A4D52;
  line-height: 18;
  font-weight: 400; }

a.check.btn {
  background-color: #FDB16F;
  border-radius: 30px;
  width: 138px;
  height: 36px;
  color: white;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  padding: 8px 20px 8px 20px; }

.a.seemore {
  color: #FDB16F;
  font-size: 18px;
  font-weight: 400;
  text-decoration: underline; }

a.download.btn {
  background-color: #FDB16F;
  border-radius: 30px;
  width: 183px;
  height: 47px;
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none; }

a.supprimer.btn {
  color: #FDB16F;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none; }

header {
  height: 100vh;
  background-color: #fff;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }

.logo {
  display: flex;
  justify-content: center;
  margin-bottom: 20%; }

nav ul li {
  font-size: 18px;
  font-weight: 700;
  color: #4A4D52;
  opacity: 50%;
  margin-bottom: 60px; }

.fa, .fab, .fad, .fal, .far, .fas {
  margin-right: 10px;
  font-size: 23px; }

.editor {
  width: 100%;
  display: flex; }
  .editor .userDoc {
    padding: 20px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    .editor .userDoc .titleDoc {
      width: 100%;
      max-width: 500px;
      margin-bottom: 20px; }
  .editor .toolsPage {
    background-color: #fff;
    right: 0;
    min-height: 100vh;
    min-width: 50%; }

.page {
  background-color: #fff;
  width: 100%;
  height: 700px;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px #fdb16f30;
  box-sizing: border-box; }
  .page .content {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 40px 35px; }
    .page .content form {
      height: 100%; }
    .page .content textarea {
      width: 100%;
      height: 100%;
      border: none; }

body {
  display: flex; }
