body{
    background-color: $orangeBg;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
}

h1{
    font-size: 30pt;
    color: $gris;
    line-height: 40px;
    font-weight: 700;
}

h2{
    font-size: 20pt;
    color: $gris;
    line-height: 27px;
    font-weight: 600;
}

h3{
    font-size: 14pt;
    color: $gris;
    line-height: 27px;
    font-weight: 600;
}

p{
    font-size: 12pt;
    color: $gris;
    line-height: 18;
    font-weight: 100;
}

a.check.btn{
    background-color: $orangePrincipal;
    border-radius: 30px;
    width: 138px;
    height: 36px;
    color: white;
    font-size: 15px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.seemore{
    color: $orangePrincipal;
    font-size: 18px;
    font-weight: 400;
    text-decoration: underline;
}

a.download.btn{
    background-color: $orangePrincipal;
    border-radius: 30px;
    width: 183px;
    height: 47px;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

a.supprimer.btn{
    color: $orangePrincipal;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}

.container{
    width: 100%;
    padding: 60px 110px;
}