//=============================================================
// Colors
//=============================================================

$orangeBg : #FFF6EF;

$white : #fff;

$orangePrincipal : #FDB16F;

$orangeSecondaire : rgb(253, 177, 111, 0.50);

$orangeFondBloc : rgb(253, 177, 111, 0.05);

$grisPrincipal : #4A4D52;

$grisSecondaire : rgba(74, 77, 82, 0.50);

$grisBlocsVides : rgba(74, 77, 82, 0.05);

$FautePrincipal : #FD746F;

$FauteSecondaire : rgba(253, 116, 111, 0.2);

$GrammairePrincipal : #6F8AFD;

$GrammaireSecondaire : rgba(111, 137, 253, 0.2);




