//=============================================================
// Colors
//=============================================================

$orangeBg : #FFF6EF;

$white : #fff;

$orange : #FDB16F;

$gris : #4A4D52;

