//=============================================================
// Colors
//=============================================================

$orangeBg : #FFF6EF;

$white : #fff;

$orangePrincipal : #FDB16F;

$gris : #4A4D52;

$Rouge : #FD746F;

$Bleu : #6F8AFD;




