header{
    height: 100vh;
    background-color: $white;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.logo{
    display: flex;
    justify-content: center;
    margin-bottom: 20%;
}

nav ul li{
    font-size: 18px;
    font-weight: 700;
    color: $gris;
    margin-bottom: 80px;
    display: flex;
    align-items: center;
    
}

.fa, .fab, .fad, .fal, .far, .fas{
font-size: 23px;
}

.picto{
    width: 40px;
}

li a{
    text-decoration: none;
    color: $gris;
    display: flex;
    align-items: center;
    opacity: 50%;
}

a:hover {
    color:$orangePrincipal;
    opacity: 100%;
}